* , body 
, html , 
::before , 
::after {
  margin: 0;
  padding: 0;
}

h1 , h2 , h3 {
  font-family: 'Ubuntu', sans-serif;
}
.head1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 40px;
 

}
p {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: rgba(88, 88, 88, 0.9999);
}



  

  /* Make the image fully responsive */
  .carousel-item {
    position: relative !important;
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
 
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  .black-overlay{
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  /*-----demo for header flex------*/
  .header-flex{
    position: absolute;
    top: 20px;
    z-index: 10;
  }
  #overlay-item-1{
    position: relative;
    top: 50px;
    left: 50px;
    display: flex;
    width: 100px;
    height: 100px;
    color: white;
  }
  #overlay-item-1 img {
    height: 100px;
    width: 100px;
    
}
  #overlay-item-2{
    position: relative;
    top: 80px;
    left: 50px;
    display: flex;
    flex-direction: column;
    color: white;
  }
  #head-span{
    font-size: 20px;
    font-weight: bolder;
    color: orangered ;
    
  }
  
  
  /* --To style the Header Navigation*/
 
  .nav-item > a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;

  }

 .nav-item > a:hover {
    border-bottom: darkblue 2px solid;
    color: darkblue;
    
 }

.navbar {
  margin-bottom: 0px;
  padding: 20px 15px;
  height: 80px;
  background: white;
  border-top: darkblue 2px solid;
  border-bottom: darkblue 2px solid;
  
}
.navbar img{
  width: 50px;
  height: 50px;
}

.navbar ul{
  padding:0.3em;
}
.navbar ul li{
  margin-left:0.2em;
  margin-right: 0.2em;

}

.nav-brand {
  padding: 0px;
  margin: 0px;
}
.list-group-item {
  color: white;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: 0px !important;
  background: orangered;
  border: none !important;
  
}
.list-group-item.active {
  z-index: 2;
  color: darkblue;
  background-color: orangered;
  border-color: orangered;
}



.respon-burger{position: absolute;
  display: flex;
  text-align: center;
  width:200px;
  border-radius:7px;

}
.respon-burger li{
  font-weight: normal;
padding:5px;
border-bottom: .2px solid white !important;
cursor: pointer;

}
.respon-burger li:hover{
background: darkblue;
}

 a{
   text-decoration: none;
   color: darkblue;  
   font-weight: normal;
   font-size: 1.2em;
   
 }
 a.active{
   color: blue;
 }
 .sub-menu-list{
  text-align: center;
  width:100%;
}
.sub-menu-list li{
 
  border-bottom: .2px solid white !important;
  cursor: pointer;
  }
  .sub-menu-list li:hover{
    color: white;
    background: darkblue;
    }
  .hamburger{
    padding: 10px;
    color: darkblue !important;
    width: 80px;
    height: 60px;
    background: orangered;
    outline: transparent !important;
    border-radius: 30px;
    color:darkblue;
    

  }
  .hamburger:hover{
    background: radial-gradient(white 20% , orangered 90%);
    transition: ease-in-out 2s;
  }
  aside{
    text-align: justify;
    
  }
  /* scroll spy*/
  #scrolling{
    position: relative;
  }
  .scrollspy-example {
    height: 300vh;
    }
    /* Modal section for Admission*/
    #modal-font-1{
      color: red;
    }
    #modal-font-2{
      color: darkblue;
    }

  .footer-section{
    height: 80px;
    width: 100vw;
    border-bottom: white 20px solid;
    border-radius: 30px;
    background: orangered;
  }
  #footer-div{
    height: 50vh;
    
  }
  .left-footer{
    background: orangered
  
  }
  .right-footer{
    background: orangered;
    height: 100%;
  }
  .white{
    background: whitesmoke;
    margin: 0;
    padding:10px;
    border: slateblue 2px solid;
  }
  .orange-red{
    background: orangered;
    color: black;
  }
  .fa {
    padding-right: 50px;
    font-size: 40px;
    
  }
 
  .fa:hover{
    transform: translateY(-10px);
  }
  .fab{
    font-size: 20px;
    color: blue;
  }
  .fas{
    padding-right: 50px;
    font-size: 40px;
    color: blue;
  }
  .fa-low-vision{
    font-size: 40px;
    color: crimsonS;
  }
  .fa-history{
    font-size: 40px;
    color: lawngreen;
  }
  .fa-graduation-cap{
    font-size: 40px;
    color: orange;
  }
  .fa-fingerprint{
    font-size: 40px;
    color: fuchsia;
  }
.fa-vuejs{
  padding-right: 50px;
  font-size: 40px;
  color: aqua ;

}
.fa-vuejs:hover{
  transform: translateY(-10px);
}




 @media only screen and (max-width: 991px) {
  #nav-bar{
     display: none;

  }
  
  .black-overlay{
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    
  }
 }




 